.navLink {
  padding: 0.8em 1.6em;
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
}


.navLink:hover {
  background-color: white;
  color: #333;
}

.navLink.current {
  border-bottom: 5px solid white;
}